<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  <nav class="sidebar-nav">
    <h3>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/">Home</a>
    <a class="sidebar-nav-item" href="{{ site.baseurl }}/about">About</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}/contributors">Contributors</a>
    <a class="sidebar-nav-item"
    href ="{{site.baseurl}}/Thomas-Adams-Background">Who Was Thomas Adams?</a>
    <a class="sidebar-nav-item"
    href ="{{site.baseurl}}/Nellie-Martin-Wade-Background">Who Was Nellie Martin Wade?</a>
     <a class="sidebar-nav-item"
    href ="{{site.baseurl}}/Writing-Out-West">Writing Out West</a> 
         <a class="sidebar-nav-item"
    href ="{{site.baseurl}}/references">References</a> 
    </h3>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
